@import "../дз/variables.css";

@font-face {
    font-family: "Roboto-Regular";
    src: url("../дз/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../дз/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../дз/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    font-family: Roboto-Regular;
    font-size: var(--l-font-size);
}

.header {
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
}

.logo-wrapper:hover span {
    color: var(--hover-color);
    cursor: pointer;
}

.logo-wrapper:hover img {
    filter: invert(50%) sepia(33%) saturate(7056%) hue-rotate(351deg) brightness(105%) contrast(90%);
}


.text__logo-wrappers {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    text-decoration: none;
    color: white;
    transition: 300ms ease-in-out;
}

.text__logo-wrappers:hover {
color: aquamarine;
}

.logo {
    font-size: var(--xl-font-size);
    color: var(--primary-text-color);
    font-family: Roboto-Bold;
}

.logo-second {
    font-size: var(--l-font-size);
    color: var(--primary-text-color);
    font-family: Roboto-Bold;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.mail__link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.phone__link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.mail__link:hover {
    color: var(--hover-color);
}

.phone__link:hover {
    color: var(--hover-color);
}

.main {
    margin-top: 17px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 220px 78px 220px 78px;
    column-gap: 57px;
}

.grid-link {
    color: var(--primary-text-color);
    justify-self: center;
    padding-top: 20px;
}

.foot {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    font-size: var(--s-font-size);
    padding: 48px 0 20px 0;
}

.grid-photo {
    position: relative;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: var(--hover-color);
    overflow: hidden;
    width: 99%;
    height: 0;
    transition: .5s ease;
    padding: 0px 16px 0px 16px;
  }

.grid-photo:hover .card__description {
    bottom: 0;
    height: 30%;
  }

  .text__description {
    font-family: Roboto-Regular;
    color: var(--primary-text-color);
    font-size: 20px;
  }

  .text {
    font-size: 10px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: baseline;
  }

  .details::after {
    content: ">";
    padding: 16px;
  }

  .details {
    font-size: 14px;
  }

  .grid-text:hover {
    color: var(--hover-color);
  }

  .grid-link {
    text-decoration: none;
  }

  

 