:root {


    --primary-text-color: rgba(255, 255, 255, 1);
    --hover-color: rgba(242, 101, 34, 1);

    --xl-font-size: 1.8rem;
    --l-font-size: 1.1rem;
    --m-font-size: 0.8rem;
    --s-font-size: 0.7rem;
}